nav {
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.active{
    background-color: blue;
}