body {
    overflow: unset;
}

.nav {
    display: flex;
    margin: 10px;
    background-color: #6ac2da;
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
}

.nav .left {
    padding: 10px;
    position: relative;
    width: 50%;
    text-align: left;
}

.nav .right {
    width: 50%;
    text-align: right;
    padding: 6px;
    position: relative;
}

.nav .right button {
    padding: 4px 6px;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
}

table {
    margin: 10px;

}

tbody {
    overflow: scroll;
}

.table-container {
    margin: 10px;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 300px;
    height: 100vh;
}

.popup .header{
    display: flex;
    padding: 20px 5px;
}
.popup .header .left{
    height: 30px;
    width: 70%;
}
.popup .header .left .heading{
    font-size: 16px;
}
.popup .header .right{
    width: 30%;
    text-align: right;
}
.popup .header .right i{
    cursor: pointer;
}